<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Card UI Design</title>
    <link rel="stylesheet" type="text/css" href="/css/cart.css">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>View</title>
</head>
<body>
<div class="sidebar close">
    <div class="logo-details">
        <i class='bx bxl-java' ></i>
        <span class="logo_name">ITech</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="#">
                <i class='bx bx-menu'></i>
                <span class="link_name">Menu</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Menu</a></li>
            </ul>
        </li>
        <li>
            <a href="#" th:href="@{/}">
                <i class='bx bx-grid-alt' ></i>
                <span class="link_name">Home</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" th:href="@{/}">Home</a></li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a href="#">
                    <i class='bx bx-collection' ></i>
                    <span class="link_name">Category</span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Category</a></li>
                <li th:each="category : ${categories}">
                    <a th:text="${category.name}" href="#" th:href="@{'/shop/category/' + ${category.id}}"></a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" th:href="@{/shop}">
                <i class='bx bx-laptop' ></i>
                <span class="link_name">Products</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" th:href="@{/shop}" href="#" >Products</a></li>
            </ul>
        </li>
        <li>
            <a href="#" th:href="@{/cart}">
                <i class='bx bx-cart-alt'></i>
                <span class="link_name">Cart <span class="cart-count" th:text="${cartCount}"></span></span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" th:href="@{/cart}" href="#">Cart</a></li>
            </ul>
        </li>
        <li>
            <a href="#" th:href="@{/logout}" th:action="@{/logout}" th:method="post">
                <i class='bx bx-log-out' style="color: rgb(255, 0, 0);"></i>
                <span class="link_name logout-link" style="color: rgb(255, 0, 0);">LogIn/Out</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#" th:href="@{/logout}" th:action="@{/logout}" th:method="post">LogIn/Out</a></li>
            </ul>
        </li>
    </ul>
</div>

<div class="wrap cf">
    <h1 class="projTitle">Shopping Cart</h1>
    <div class="heading cf">
        <h1>My Cart</h1>
        <a href="#" th:href="@{/shop}" class="continue">Continue Shopping</a>
    </div>
    <div class="cart">
        <ul class="cartWrap">
            <li class="items odd">
                <div class="infoWrap" th:each="item : ${cart}">
                    <div class="cartSection">
                        <img th:src="@{${'/images/' + item.key.imageName}}" alt="" class="itemImg" />
                        <p class="itemNumber" th:text="${item.key.article}"></p>
                        <h3 th:text="${item.key.name}"></h3>
                        <p><input type="text"  class="qty" th:placeholder="${item.value}"/><i class='bx bx-x'></i><p th:text="${item.key.price}"></p></p>
                    </div>

                    <div class="prodTotal cartSection">
                        <p>$<p th:text="${item.key.price * item.value}"></p></p>
                    </div>
                    <div class="cartSection removeWrap">
                        <a href="#" class="remove" th:href="@{/cart/removeItem/{id}(id=${item.key.getId()})}" type="button">x</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="subtotal cf">
        <ul>
            <li class="totalRow final"><span class="label">Total</span><span class="value">$</span><span th:text="${total}"></span></li>
            <li class="totalRow"><a href="#" th:href="@{/checkout}" class="btn continue">Checkout</a></li>
        </ul>
    </div>
</div>




</body>
<script th:inline="javascript">
    function changeQuantity(button, delta) {
        var form = button.closest('form');
        var display = form.querySelector('.quantity-display');
        var currentValue = parseInt(display.textContent);
        var newValue = currentValue + delta;

        if (newValue >= 1) {
            display.textContent = newValue;
            form.querySelector('input[name="newQuantity"]').value = newValue;
        }
    }
    let arrow = document.querySelectorAll(".arrow");
    for (var i = 0; i < arrow.length; i++) {
        arrow[i].addEventListener("click", (e)=>{
            let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
            arrowParent.classList.toggle("showMenu");
        });
    }
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".bx-menu");
    console.log(sidebarBtn);
    sidebarBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("close");
    });
</script>
</html>