<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Card UI Design</title>
    <link rel="stylesheet" type="text/css" href="/css/checkout.css">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>View</title>
</head>
<body>
<div class="sidebar close">
    <div class="logo-details">
        <i class='bx bxl-java' ></i>
        <span class="logo_name">ITech</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="#">
                <i class='bx bx-menu'></i>
                <span class="link_name">Menu</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Menu</a></li>
            </ul>
        </li>
        <li>
            <a href="#" th:href="@{/}">
                <i class='bx bx-grid-alt' ></i>
                <span class="link_name">Home</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" th:href="@{/}">Home</a></li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a href="#">
                    <i class='bx bx-collection' ></i>
                    <span class="link_name">Category</span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Category</a></li>
                <li th:each="category : ${categories}">
                    <a th:text="${category.name}" href="#" th:href="@{'/shop/category/' + ${category.id}}"></a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" th:href="@{/shop}">
                <i class='bx bx-laptop' ></i>
                <span class="link_name">Products</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" th:href="@{/shop}" href="#" >Products</a></li>
            </ul>
        </li>
        <li>
            <a href="#" th:href="@{/cart}">
                <i class='bx bx-cart-alt'></i>
                <span class="link_name">Cart <span class="cart-count" th:text="${cartCount}"></span></span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" th:href="@{/cart}" href="#">Cart</a></li>
            </ul>
        </li>
        <li>
            <a href="#" th:href="@{/logout}" th:action="@{/logout}" th:method="post">
                <i class='bx bx-log-out' style="color: rgb(255, 0, 0);"></i>
                <span class="link_name logout-link" style="color: rgb(255, 0, 0);">LogIn/Out</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#" th:href="@{/logout}" th:action="@{/logout}" th:method="post">LogIn/Out</a></li>
            </ul>
        </li>
    </ul>
</div>

<div class="wrapper">
    <div class="container">
        <form th:object="${orderDTO}" method="post" th:action="@{/payNow}">
            <h1>
                <i class="fas fa-shipping-fast"></i>
                Shipping Details
            </h1>
            <div class="name">
                <div>
                    <label for="firstName">First</label>
                    <input type="text" th:field="*{firstName}" name="f-name" id="firstName" required>
                </div>
                <div>
                    <label for="lastName">Last</label>
                    <input type="text" th:field="*{lastName}" name="l-name" id="lastName" required>
                </div>
            </div>
            <div class="street">
                <label for="Address1">Address (Line 1)</label>
                <input type="text" name="address" id="Address1" th:field="*{address1}" placeholder="House number and street name" required>
                <label for="Address2">Address (Line 2)</label>
                <input type="text" name="address" id="Address2" th:field="*{address2}" placeholder="Apartment, suite, unit etc. (optional)">
            </div>
            <div class="address-info">
                <div>
                    <label for="city">City</label>
                    <input type="text" name="city" id="city" th:field="*{city}" required>
                </div>
                <div>
                    <label for="state">State</label>
                    <input type="text" name="state" id="state" placeholder="Ukraine" readonly>
                </div>
                <div>
                    <label for="zip">Zip</label>
                    <input type="text" name="zip" id="zip" th:field="*{postCode}" required>
                </div>
            </div>
            <h1>
                <i class='bx bx-phone-call'></i> Personal Information
            </h1>
            <div class="cc-num">
                <label for="email">Email</label>
                <input type="text" th:field="*{email}" name="card-num" id="email" required>
            </div>
            <div class="cc-info">
                <div>
                    <label for="phone">Phone</label>
                    <input type="text" th:field="*{phone}" name="expire" id="phone" required>
                </div>
                <div>
                    <label for="add-inform">Additional information</label>
                    <input type="text" th:field="*{description}" name="security" id="add-inform" placeholder="Optional">
                </div>
            </div>
            <div class="btns">
                <button>Purchase</button>
                <button type="button" onclick="goBackToCart()">Back to cart</button>
            </div>
        </form>
    </div>
</div>






<script>
    let arrow = document.querySelectorAll(".arrow");
    for (var i = 0; i < arrow.length; i++) {
        arrow[i].addEventListener("click", (e)=>{
            let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
            arrowParent.classList.toggle("showMenu");
        });
    }
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".bx-menu");
    console.log(sidebarBtn);
    sidebarBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("close");
    });
    function goBackToCart() {
        window.location.href = '/cart';
    }
</script>
</body>
</html>