<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/sidebar.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Login Page</title>
</head>

<body>

<div class="sidebar close">
    <div class="logo-details">
        <i class='bx bxl-java' ></i>
        <span class="logo_name">ITech</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="#">
                <i class='bx bx-menu'></i>
                <span class="link_name">Menu</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Menu</a></li>
            </ul>
        </li>
        <li>
            <a href="#" th:href="@{/}">
                <i class='bx bx-grid-alt' ></i>
                <span class="link_name">Home</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" th:href="@{/}">Home</a></li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a href="#">
                    <i class='bx bx-collection' ></i>
                    <span class="link_name">Category</span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Category</a></li>
                <li th:each="category : ${categories}">
                    <a th:text="${category.name}" href="#" th:href="@{'/shop/category/' + ${category.id}}"></a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" th:href="@{/shop}">
                <i class='bx bx-laptop' ></i>
                <span class="link_name">Products</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" th:href="@{/shop}" href="#" >Products</a></li>
            </ul>
        </li>
        <li>
            <a href="#" th:href="@{/cart}">
                <i class='bx bx-cart-alt'></i>
                <span class="link_name">Cart <span class="cart-count" th:text="${cartCount}"></span></span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" th:href="@{/cart}" href="#">Cart</a></li>
            </ul>
        </li>
        <li>
            <a href="#" th:href="@{/logout}" th:action="@{/logout}" th:method="post">
                <i class='bx bx-log-out' style="color: rgb(255, 0, 0);"></i>
                <span class="link_name logout-link" style="color: rgb(255, 0, 0);">LogIn/Out</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#" th:href="@{/logout}" th:action="@{/logout}" th:method="post">LogIn/Out</a></li>
            </ul>
        </li>
    </ul>
</div>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form th:action="@{/register}" th:object="${userDTO}" method="post">
                <h1>Create Account</h1>
                <div class="social-icons">
                    <a th:href="@{/oauth2/authorization/google}" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                </div>
                <span>or use your email for registration</span>
                <input type="text" required placeholder="Name" name="firstName" id="firstName">
                <input type="text" required placeholder="Surname" name="lastName" id="lastName">
                <input type="email" required placeholder="Email" name="email" id="email">
                <input type="password" required placeholder="Password" name="password"
                id="password">
                <div th:if="${param.error}" class="alert alert-error text-danger">
                    <p style="color: #ff0000">Invalid username or password.</p>
                </div>
                <button type="submit" value="Register">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form th:action="@{/login}" method="post">
                <h1>Sign In</h1>
                <div class="social-icons">
                    <a th:href="@{/oauth2/authorization/google}" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                </div>
                <span>or use your email password</span>
                <input type="email" placeholder="Email" name="email" id="email_reg">
                <input type="password" placeholder="Password" name="password" id="password_reg">
                <div th:if="${param.error}" class="alert alert-error text-danger">
                    <p style="color: #ff0000">Invalid username or password.</p>
                </div>
                <a href="#">Forget Your Password?</a>
                <button type="submit" value="Login">Sign In</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your personal details to use all of site features</p>
                    <button class="hidden" id="register">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        const container = document.getElementById('container');
        const registerBtn = document.getElementById('register');
        const loginBtn = document.getElementById('login');

        registerBtn.addEventListener('click', () => {
            container.classList.add("active");
        });

        loginBtn.addEventListener('click', () => {
            container.classList.remove("active");
        });
    </script>
    <script>
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e)=>{
                let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
                arrowParent.classList.toggle("showMenu");
            });
        }
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", ()=>{
            sidebar.classList.toggle("close");
        });
    </script>
</body>

</html>