<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="css/home.css">
    <title>Products</title>
</head>
<body>


<div class="sidebar close">
    <div class="logo-details">
        <i class='bx bxl-java' ></i>
        <span class="logo_name">ITech</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="#">
                <i class='bx bx-menu'></i>
                <span class="link_name">Menu</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Menu</a></li>
            </ul>
        </li>
        <li>
            <a href="#" th:href="@{/}">
                <i class='bx bx-grid-alt' ></i>
                <span class="link_name">Home</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" th:href="@{/}">Home</a></li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a href="#">
                    <i class='bx bx-collection' ></i>
                    <span class="link_name">Category</span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Category</a></li>
                <li><a href="#">HTML & CSS</a></li>
                <li><a href="#">JavaScript</a></li>
                <li><a href="#">PHP & MySQL</a></li>
            </ul>
        </li>
        <li>
            <a href="#" th:href="@{/shop}">
                <i class='bx bx-laptop' ></i>
                <span class="link_name">Products</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" th:href="@{/shop}" href="#" >Products</a></li>
            </ul>
        </li>
        <li>
            <a href="#" th:href="@{/cart}">
                <i class='bx bx-cart-alt'></i>
                <span class="link_name">Cart <span class="cart-count" th:text="${cartItemCount}"></span></span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" th:href="@{/cart}" href="#">Cart</a></li>
            </ul>
        </li>
        <li>
            <a href="#" th:href="@{/logout}" th:action="@{/logout}" th:method="post">
                <i class='bx bx-log-out' style="color: rgb(255, 0, 0);"></i>
                <span class="link_name logout-link" style="color: rgb(255, 0, 0);">LogIn/Out</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#" th:href="@{/logout}" th:action="@{/logout}" th:method="post">LogIn/Out</a></li>
            </ul>
        </li>
    </ul>
</div>
<div class="search-bar">
    <input type="text" id="searchInput" placeholder="Search by name..." />
    <button onclick="searchProducts()">Search</button>
</div>
<section class="filters">
    <h2>Filters</h2>
    <form th:action="@{/shop/filter}" th:object="${filters}" method="get">
        <label for="minPrice">Min Price:</label>
        <input type="number" id="minPrice" th:field="*{minPrice}" />
        <label for="maxPrice">Max Price:</label>
        <input type="number" id="maxPrice" th:field="*{maxPrice}" />
        <label for="category">Category:</label>
        <select id="category" th:field="*{categoryId}">
            <option th:value="0">All Categories</option>
            <th:block th:each="category : ${categories}">
                <option th:value="${category.id}" th:text="${category.name}"></option>
            </th:block>
        </select>
        <input type="submit" value="Apply Filters" />
    </form>
    <form th:action="@{/shop}" method="get">
        <input type="submit" value="Reset" class="reset-button"/>
    </form>
</section>

    <div class="container">
        <div class="card" th:each="product : ${products}">
            <div class="imgBx">
                <img class="product-image" th:src="@{${'/images/' + product.imageName}}" th:alt="${product.name}" />
            </div>
            <div class="contentBx">
                <h2 th:text="${product.name}" id="product-name"></h2>
                <div class="size">
                    <h3>Price:</h3><h3 th:text="${product.price}"></h3>
                    <h4>Price Opt:</h4> <h4 th:text="${product.priceOpt}"></h4>
                    <div class="button-container">
                        <button>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let arrow = document.querySelectorAll(".arrow");
    for (var i = 0; i < arrow.length; i++) {
        arrow[i].addEventListener("click", (e)=>{
            let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
            arrowParent.classList.toggle("showMenu");
        });
    }
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".bx-menu");
    console.log(sidebarBtn);
    sidebarBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("close");
    });
    function searchProducts() {
        const searchTerm = document.getElementById("searchInput").value.toLowerCase();
        const productCards = document.querySelectorAll(".card");

        productCards.forEach(card => {
            const title = card.querySelector("#product-name").textContent.toLowerCase();
            if (title.includes(searchTerm)) {
                card.style.display = "block";
            } else {
                card.style.display = "none";
            }
        })
    }
</script>
</body>
</html>