<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Card UI Design</title>
    <link rel="stylesheet" type="text/css" href="/css/productView.css">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>View</title>
</head>
<body>

<div class="sidebar close">
    <div class="logo-details">
        <i class='bx bxl-java' ></i>
        <span class="logo_name">ITech</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="#">
                <i class='bx bx-menu'></i>
                <span class="link_name">Menu</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Menu</a></li>
            </ul>
        </li>
        <li>
            <a href="#" th:href="@{/}">
                <i class='bx bx-grid-alt' ></i>
                <span class="link_name">Home</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" th:href="@{/}">Home</a></li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a href="#">
                    <i class='bx bx-collection' ></i>
                    <span class="link_name">Category</span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Category</a></li>
                <li th:each="category : ${categories}">
                    <a th:text="${category.name}" href="#" th:href="@{'/shop/category/' + ${category.id}}"></a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" th:href="@{/shop}">
                <i class='bx bx-laptop' ></i>
                <span class="link_name">Products</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" th:href="@{/shop}" href="#" >Products</a></li>
            </ul>
        </li>
        <li>
            <a href="#" th:href="@{/cart}">
                <i class='bx bx-cart-alt'></i>
                <span class="link_name">Cart <span class="cart-count" th:text="${cartCount}"></span></span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" th:href="@{/cart}" href="#">Cart</a></li>
            </ul>
        </li>
        <li>
            <a href="#" th:href="@{/logout}" th:action="@{/logout}" th:method="post">
                <i class='bx bx-log-out' style="color: rgb(255, 0, 0);"></i>
                <span class="link_name logout-link" style="color: rgb(255, 0, 0);">LogIn/Out</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#" th:href="@{/logout}" th:action="@{/logout}" th:method="post">LogIn/Out</a></li>
            </ul>
        </li>
    </ul>
</div>
<div class="container">
    <div class="imgBx">
        <img th:src="@{${'/images/' + product.imageName}}">
    </div>
    <div class="details">
            <div class="content">
                <h2 th:text="${product.name}"></h2>
                <span th:text="${product.category.name}"></span>
                <p th:text="${product.description}"></p>
            </div>
            <div class="price_quantity">
                <div class="price-section">
                    <h2>$</h2>
                    <h2 th:text="${product.price}"></h2>
                </div>
                <div class="tvari">
                    <form th:action="@{/addToCart/{id}(id = ${product.id})}" method="post">
                        <div class="block_quantity">
                            <span>Quantity</span>
                            <div class="block_quantity__chooseBlock">
                                <button type="button" class="block_quantity__button block_quantity__down"><i class='bx bx-minus' ></i></button>
                                <input class="block_quantity__number" name="quantity" type="text" min="1" value="1">
                                <button type="button" class="block_quantity__button block_quantity__up"><i class='bx bx-plus'></i></button>
                            </div>
                        </div>
                        <div class="add-to-cart-section">
                            <button type="submit">Add to cart</button>
                        </div>
                    </form>
                </div>
            </div>
    </div>
</div>

<script>
    let arrow = document.querySelectorAll(".arrow");
    for (var i = 0; i < arrow.length; i++) {
        arrow[i].addEventListener("click", (e)=>{
            let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
            arrowParent.classList.toggle("showMenu");
        });
    }
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".bx-menu");
    console.log(sidebarBtn);
    sidebarBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("close");
    });

    var up = document.getElementsByClassName('block_quantity__up')[0],
        down = document.getElementsByClassName('block_quantity__down')[0],
        input = document.getElementsByClassName('block_quantity__number')[0];

    function getValue() {
        return parseInt(input.value);
    }

    up.onclick = function (event) {
        input.value = getValue() + 1;
    };
    down.onclick = function (event) {
        if (input.value <= 1) {
            return 1;
        } else {
            input.value = getValue() - 1;
        }

    }

</script>
</body>
</html>